@import "~bulma";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Header/Nav
#header {
    hr {
        margin: 5px 0px 0px;
    }
    // Progress
    .progress-container {
        position: absolute;
        bottom: 0rem;
        left: 0;
        right: 0;
        progress {
            display: none;
            height: 0.2rem;
            width: 100%;
        }
    }
}

// Notification
.notification {
    .tag {
        inset-inline-start: 0rem;
        position: absolute;
        top: -0.5rem;
    }

    &.is-error {
        @extend .is-danger;
    }
}

// Form
.form-inline {
    display: inline-block;
}

// List
.list {
    padding: 1.0rem;
    position: relative;

    .list-head {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid white;
    }

    .list-item {
        display: flex;
        align-content: center;
        justify-items: center;
        flex-direction: column;
        min-height: 2.5rem;
        position: relative;

        +.list-item {
            padding-top: 0.5rem;
            border-top: 1px solid white;
        }

        .list-item-buttons {
            @extend .form-inline;
            display: inline;
            float: right;
            top: -0.5rem;
            right: 0.0rem;
        }

        .cell {
            overflow-wrap: anywhere;
        }
    }
}