@import "~bulma";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Header/Nav
#header {
    hr {
        margin: 5px 0px 0px;
    }
}

.notification {
    .tag {
        inset-inline-start: 0rem;
        position: absolute;
        top: -0.5rem;
    }
    &.is-error {
        @extend .is-danger;
    }
}